@font-face  {
    font-family : 'Beaufort for LOL';
    src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot"); src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff") format("woff"), url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.svg#BeaufortforLOL-Bold") format("svg"); }

/* @font-face {
    font-family : 'Spiegel';
    src: url('font/Spiegel-Regular.ttf') format('truetype')
} */

body, html {
    font-family: 'Spiegel' ;
    font-size: 16px;
    line-height: 1.6;
    /*background-color with the same color as the background image*/
    background-color: #030608;

    height: 100%;
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* opacité de 50% */
}

#background {
    display : flex;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/background2.jpg');
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.accueil {
    display : flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.contenu p {
    text-align: justify;
}

p {
    color: white;
    text-align: center;
    font-family: 'Spiegel';    
    font-size: 0.875rem;
    letter-spacing: 0.08em;

}

h1, h2, h3, h4 {
    color : goldenrod;
    text-align: center;
    font-family: 'Beaufort for LOL';
}

#frame1 {
    display : flex;
    position: relative;
    width : 100%;
    
}

#frameMap {
    position: relative;
    top : 150px;
    width : 100%;
}

#frameStat {
    position: relative;
    top: 30px;
    width : 100%;
}

.container {
    text-align: center;
  }
  
  #pieChart, #radarChart {
    display: inline-block;
    width: 50%;
  }


.buttons {
    
    position :relative;
    top : 25px;
    display : flex;
    justify-content: space-around;
    height: min-content;
}

.contenu {
    width: 50%;
    position: relative;
    top: 50px;
    margin-bottom: 20px;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}



button.role{
    color:white;
    background:rgb(11, 198, 227);
    padding: 15px 30px 15px 30px;
    position: relative;
    border: none;
    font-family: Spiegel;
    text-transform: uppercase;
}
button.role::before {
    content:'';
    border-bottom:15px solid #030608;
    border-left: 12px solid transparent;
    position: absolute;
    right:0;
    bottom: 0
  }

button.role::after {
    content:'';
    border-top:15px solid #030608;
    border-right: 12px solid transparent;
    position: absolute;
    left:0;
    top: 0
  }

/*when the mouse is over the button remove the after and before pseudo elements */
button.role:hover::before, button.role:hover::after{
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
  }




.expliAndMap {
    width: 100%;
    height: 100%;
    position: relative;
    top:50px;
    display:flex;
    justify-content: space-between;
}


button.map{
display: flex;
position: relative;
top: 50px;
justify-content: center;
margin-left: auto;
margin-right: auto;
 background-color: rgb(11, 198, 227); color: white; 
 border : none;
 padding: 14px 14px;
 width: 50%;
 font-size: 16px;
 border-radius: 12px;
}

button.map span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
button.map span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
button.map:hover span {
    padding-right: 25px;
  }
  
button.map:hover span:after {
    opacity: 1;
    right: 0;
  }



#map-image {
    margin: 5%;
}

#explication {
    margin-left: 5%;
}

a:link {
    text-decoration: none;
    color : white;
}

a:visited {
    color: white;
}

p#explication {
    text-align: justify;
}

img#map-image {
    width: 50%;
    height: 50%;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }


